.issue_page{
    position: absolute;
    visibility: hidden;
    width: 300px;
    height: 600px;
    top: calc(55% - 300px);
    left: calc(50% + 150px);
}

.owner_input, .date_input{
    position: relative;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.owner_input{
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.date_input{
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.close_issue{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    font-family: inherit;
    font-size: inherit;
}

.accept_issue{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 50px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    font-family: inherit;
    font-size: inherit;
}

.close_issue:hover, .accept_issue:hover{
    transform: scale(1.1);
    transition: 0.2s linear;
}

#dialog{
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: lightgrey;
    border-radius: 10%;
    width: 300px;
    height: 50px;
    top: 10%;
    left: calc(50% - 150px);
    text-align: center;
}