.redact{
    position: absolute;
    visibility: hidden;
    width: 200px;
    height: 600px;
    top: calc(55% - 300px);
    left: calc(50% + 100px);
}

.title_redact, .author_redact, .year_redact{
    position: relative;
    width: 200px;
    text-align: center;
}

.title_redact{
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.author_redact{
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.year_redact{
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
}

.close_redact{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    font-family: inherit;
    font-size: inherit;
}

.accept_redact{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 50px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100px;
    font-family: inherit;
    font-size: inherit;
}

.close_redact:hover, .accept_redact:hover{
    transform: scale(1.1);
    transition: 0.2s linear;
}